@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

:root {
    --font-familly: "Ubuntu Mono";
}

body {
    font-family: var(--font-familly);
}

.md-content {
    font-family: "Courier Prime";
}

.md-content h1 {

}

.md-content h2 {

}

.md-content h3 {

}

.md-content h4 {

}

.md-content h5 {

}

.md-content p {

}

.md-content ul {
    
}