@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .modal::backdrop {
        background-color: rgba(0, 0, 0, 0.63);
    }

    .rond-img {
        clip-path:circle(40%);
    }
}

:root {
    --font-familly: "Ubuntu Mono";
}

body {
    font-family: var(--font-familly);
}

.md-content {
    /*font-family: "Courier Prime";*/
}

.md-content h1 {
    font-size: 45px;
    border-bottom: 2px solid gray;
    margin-top: 5px;
}

.md-content h2 {
    font-size: 40px;
    border-bottom: 1px solid gray;
    margin-top: 5px;
}

.md-content h3 {
    font-size: 30px;
    margin-top: 5px;
}

.md-content h4 {
    font-size: 25px;
    margin-top: 5px;
}

.md-content h5 {
    font-size: 20px;
    margin-top: 5px;
}

.md-content p {
    margin-top: 5px;
}

.md-content h6 {
    font-size: 15px;
    margin-top: 5px;
}

.md-content ul {
    margin-left: 20px;
    margin-right: 20px;
    list-style: circle;
    margin-top: 5px;
}

.md-content code {
    width: 100%;
    display: flex;
    background-color: rgba(128, 128, 128, 0.13);
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
}